<h2 class="text-center">Proveedores</h2>
<hr>
<div class="row">
  <div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre Proovedor</h5>
        <h6 class="card-subtitle mb-2 text-muted">Telefono: ******</h6>
        <p class="card-subtitle mb-2 text-muted">Dirección: calle 23A #11-30</p>
        <p class="card-subtitle mb-2 text-muted">Correo: 2129eaoe@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre Proovedor</h5>
        <h6 class="card-subtitle mb-2 text-muted">Telefono: ******</h6>
        <p class="card-subtitle mb-2 text-muted">Dirección: calle 23A #11-30</p>
        <p class="card-subtitle mb-2 text-muted">Correo: 2129eaoe@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre Proovedor</h5>
        <h6 class="card-subtitle mb-2 text-muted">Telefono: ******</h6>
        <p class="card-subtitle mb-2 text-muted">Dirección: calle 23A #11-30</p>
        <p class="card-subtitle mb-2 text-muted">Correo: 2129eaoe@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre Proovedor</h5>
        <h6 class="card-subtitle mb-2 text-muted">Telefono: ******</h6>
        <p class="card-subtitle mb-2 text-muted">Dirección: calle 23A #11-30</p>
        <p class="card-subtitle mb-2 text-muted">Correo: 2129eaoe@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre Proovedor</h5>
        <h6 class="card-subtitle mb-2 text-muted">Telefono: ******</h6>
        <p class="card-subtitle mb-2 text-muted">Dirección: calle 23A #11-30</p>
        <p class="card-subtitle mb-2 text-muted">Correo: 2129eaoe@gmail.com</p>
      </div>
    </div>
  </div>
</div>
