<h1 class="text-center">Resultados de Búsqueda</h1>
    <hr>
    <form class="row g-3">
  <div class="col-auto">
    <label for="masProductos2" class="visually-hidden">Buscar más productos</label>
    <input type="text" class="form-control" id="masProductos2" placeholder="Buscar más productos">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
  </div>
</form>
<hr>
<div class="row">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://exitocol.vtexassets.com/arquivos/ids/13176831-800-auto?v=637899579258000000&width=800&height=auto&aspect=true" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Salsa de tomate</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://exitocol.vtexassets.com/arquivos/ids/11850931-800-auto?v=637807143814200000&width=800&height=auto&aspect=true" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cebolla blanca</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
