<h1 class="text-center">Stock de Productos</h1>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Categoría
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Categoría 1</a></li>
    <li><a class="dropdown-item" href="#">Categoría 2</a></li>
    <li><a class="dropdown-item" href="#">Categoría 3</a></li>
  </ul>
</div>
<hr>
<div class="row">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://exitocol.vtexassets.com/arquivos/ids/13176831-800-auto?v=637899579258000000&width=800&height=auto&aspect=true" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{productos.descripcionProducto}}</h5>
        <p class="card-text">{{productos.idProducto}}</p>
        <p class="card-text"><small class="text-muted">{{productos.precioProducto}}</small></p>
      </div>
    </div>
  </div>
</div>
